* {
  padding: 0;
  margin: 0;
  border: 0;
  list-style: none;
}
::-webkit-scrollbar {
  display: none;
}
*,
html {
  scrollbar-width: none;
}
:root {
  --color: white;
  --ff: "DM Sans", sans-serif;
  --h1: bold 54px/64px var(--ff);
  --h2: 36px/36px var(--ff);
  --h3: 23px/30px var(--ff);
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
.section {
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
}

.hero {
  display: flex;
  flex-direction: column;
  background-color: black;
}

.nav {
  width: 100vw;
  height: 100px;
  background-color: rgb(35, 35, 53);
}
.logo {
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
  margin: 10px 0 0 10px;
}
.content {
  position: absolute;
  top: 20vh;
}
.name {
  font: var(--h1);
  color: var(--color);
  padding: 10px 0px 0px 30px;
}
.profession {
  font: var(--h2);
}
.button {
  font: var(--h2);
  color: var(--color);
  width: 200px;
  height: 50px;
  border-radius: 30px;
  background-color: rgb(234, 84, 46);
  margin: 40px 0 0 30px;
}
.quote {
  font: var(--h2);
  color: var(--color);
  padding: 100px 80px 0px 30px;
}
.about {
  background-color: blue;
}
.projects {
  background-color: brown;
}
.contact {
  background-color: black;
}
.nav,
.menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font: var(--h2);
}
.menu ul li {
  padding: 20px 20px 10px 10px;
}
.menu ul li a {
  text-decoration: none;
  color: var(--color);
}

@media (max-width: 750px) {
  .logo {
    width: 50px;
    height: 50px;
  }
  .menu {
    display: none;
    flex-direction: column;

    position: absolute;
    top: 0;
    right: 0;
    width: 75vw;
    height: 100vh;
  }
  .content {
    padding: 100px 0 0 0;
  }
}

@media (max-width: 450px) {
  .content {
    position: relative;
    top: 50px;
  }
  .name {
    font: var(--h2);
  }
  .profession,
  .button,
  .quote {
    font: var(--h3);
  }
}
